#clockContainer{
    border: 2px solid aqua;
    height: 40vw;
    width: 40vw;
    background: url(Grafx--Clock1.jpg) no-repeat;
    margin: auto;
    position: relative;
}
#hour,#minute,#second{
  position:absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}
#hour{
 width:1.4%;
 height:25.5%;
 top:23%;
 left:48.5%;
 
}
#minute{
    width:0.7%;
    height:28%;
    top:20.5%;
    left:48.8%;
    opacity: 0.8;
   
}
#second{
    width:0.8%;
    height:24%;
    top:24.3%;
    left:48.8%;
    opacity: 0.8;
   
    
    
}

